<div class = "main-background">
<div class="card text-center" style = "background-color:  #ffe24e">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Coming soon...</h5>
    <p class="card-text">page is in progress...</p>
  </div>
</div>
</div>